.overlay-imagen {
	height: 60vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.contenedor-imagen-error {
		display: inline-block;
		background-size: cover;
		background-position: center;
		width: 40vh;
		height: 40vh;
	}
	.texto-error-imagen {
		font-size: 28px;
		color: #2f8e89;
		text-align: center;
	}
}
